@model XF.Entities.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Client
        </dt>

        <dd>
            @(string.Format("{0}{1} {2}",
                        Model.Client.FirstName,
                        Model.Client.MiddleName == null
                        ? string.Empty
                        : string.Format(" {0}", Model.Client.MiddleName)
                        , Model.Client.LastName))
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceStatu.Name)
        </dd>

        <dt>
            Payment Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType.Name)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            User
        </dt>

        <dd>
            @(string.Format("{0}{1} {2}",
                        Model.AspNetUser.FirstName,
                        Model.AspNetUser.MiddleName == null
                        ? string.Empty
                        : string.Format(" {0}", Model.AspNetUser.MiddleName)
                        , Model.AspNetUser.LastName))


        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index","Invoices")
</p>
