@Styles.Render("/Content/reporting.css")

<div class="row">
    <div class="col-sm-12">
        <h2>Reports</h2>
    </div>
    <div class="col-sm-2">
        <label>
            Reports:
            <select id="cmbReports" class="form-control">
                <option value="1">Daily</option>
                <option value="2">Delivery</option>
                <option value="3">Pick Up</option>
                <option value="4">Sales</option>
                @if (this.User.IsInRole("Admin") || this.User.IsInRole("Super"))
                {
                    <option value="5">Profit</option>
                }
                <option value="6">Sales by Date</option>
                @if (this.User.IsInRole("Admin") || this.User.IsInRole("Super"))
                {
                    <option value="7">Comissions</option>
                }
                @*<option value="8">Supplies</option>
                    <option value="9">Utilities</option>*@
                <option value="10">Seller Comission</option>
            </select>
        </label>
    </div>

    <div class="col-sm-2">
        <label>
            Start Date:
            <input type="date" class="form-control" id="txtStartDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </label>
    </div>
    <div class="col-sm-2">
        <label id="lblEndDate">
            End Date:
            <input type="date" class="form-control" id="txtEndDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </label>
    </div>
    <div class="col-sm-2">
        <label>
            User:
            <select id="ddlUser" class="form-control">
                <option value="">All Sellers</option>
                @foreach (KeyValuePair<string, string> user in ViewBag.Users)
                {
                    <option value="@user.Key">@user.Value</option>
                }
            </select>
        </label>
    </div>

    <div class="col-sm-3 text-right">
        <a href="javascript:;" id="btnFilter" class="btn btn-primary">Filter</a>
        &nbsp;&nbsp;
        <a href="javascript:;" id="btnPrint" class="btn btn-primary">Print</a>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div id="reportViewer" class="report"></div>
    </div>
</div>

<script type="text/html" id="template-footer-template">
    <strong>#=kendo.toString(data.value,"c")#</strong>
</script>

<script type="text/html" id="page-sales-template">

    #
    var items = ["Cash","CC","Debit","Check","Progressive leasing","Snap Financial","Mariner Finance","Finance Acima","TOTAL","Sales TAX"];
    var pageSize = 12;
    var n = data.Detail.length;
    var pages = Math.ceil(n / pageSize);
    var idx = 0;
    #

    <table class="table table-striped">
        <tbody>
            #for (var j = 0; j < pages; j++)
            {
            #

            <tr>
                <td class="text-right">
                    <h5>
                        <strong>
                            Date:
                        </strong>
                    </h5>
                </td>
                #for (var i = 0; i < pageSize; i++){
                idx = i + pageSize*j;
                if(idx < n){
                #
                <td class="text-center">
                    <h5>
                        <strong>
                            #=data.Detail[idx].DayOfWeek#
                        </strong>
                        <br />
                        <small>
                            #=data.Detail[idx].Short#
                        </small>
                    </h5>
                </td>
                #   }
                }#
            </tr>


            #for(var k = 0; k < items.length; k++)
            {
            #

            <tr>
                <td>
                    <strong>
                        #=items[k]#
                    </strong>
                </td>
                #for (var i = 0; i < pageSize; i++)
                {
                idx = i + pageSize*j;
                if(idx < n){
                #

                <td class="text-right">
                    #if(items[k]=="TOTAL"){#
                    <strong>
                        #=kendo.toString(data.Detail[i + pageSize*j].Amounts[k],'c')#
                    </strong>
                    #}else{#
                        #=kendo.toString(data.Detail[i + pageSize*j].Amounts[k],'c')#
                    #}#
                </td>
                #
                }
                }#
            </tr>



            #}#


            #
            }#
        </tbody>
    </table>
</script>

@section scripts{

    @Scripts.Render("~/Scripts/reporting.js")
    @Scripts.Render("~/Scripts/pako.min.js")
    @Scripts.Render("~/Scripts/jszip.min.js")
    @Scripts.Render("~/Scripts/Reports/ReportsBeta.js?v=2.2")

}