@model IEnumerable<KeyValuePair<string,string>>
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

<div class="row">
    <div class="col-sm-6">
        <div>
            Reports:
            <select id="cmbReports" class="form-control">
                <option value="1">Daily</option>
                <option value="2">Delivery</option>
                <option value="3">Pick Up</option>
                <option value="4">Sales</option>
                @if (this.User.IsInRole("Admin") || this.User.IsInRole("Super"))
                {
                    <option value="5">Profit</option>
                }
                <option value="6">Sales by Date</option>
            </select>
        </div>
        <div>
            Start Date:
            <input type="date" id="txtStartDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
        </div>
        
        <div id="lblEndDate">
            End Date:
            <input type="date" id="txtEndDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
        </div>
        <div>
            User:
            <select id="ddlUser" class="form-control">
                <option value="">All Sellers</option>
                @foreach (KeyValuePair<string,string> user in Model)
                {
                    <option value="@user.Key">@user.Value</option>
                }
            </select>
        </div>
        
    </div>
    <div class="col-sm-6 text-right">
        <input type="button" value="Filter" class="btn btn-primary" id="btnFilter" />
        &nbsp;&nbsp;&nbsp;
        <input type="button" value="Print" class="btn btn-primary" id="btnPrint" />
    </div>
</div>

<br />
<div id="reportViewer" style="overflow:auto;width:100%;max-height:340px;"></div>

@section scripts{
    @Scripts.Render("~/Scripts/Reports/Reports.js?v=1.0")
}