@using Microsoft.AspNet.Identity
<!DOCTYPE html lang="eu">
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ximena's Furniture </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/modernizr")
  
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ximena's Furniture", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluent body-content xf-container">
        <div class="row">
            <div class="col-md-2 xf-menu-col">
                @if (Request.IsAuthenticated)
                {                    
                    <ul class="xf-menu">

                        <li class="xf-list-item">
                            <h3>
                                <a href="/Products/Inventory">
                                    <i class="fa fa-cubes" aria-hidden="true"></i> Inventory
                                </a>
                            </h3>

                        </li>
                        <li class="xf-list-item">
                            <h3>
                                <a href="/Products">
                                    <i class="fa fa-barcode" aria-hidden="true"></i> Products
                                </a>
                            </h3>

                        </li>
                        <li class="xf-list-item">
                            <h3>
                                <a href="/Users">
                                    <i class="fa fa-users" aria-hidden="true"></i> Users
                                </a>
                            </h3>
                            
                        </li>
                        <li class="xf-list-item">
                            <h3>
                                <a href="/Sales">
                                    <i class="fa fa-tags" aria-hidden="true"></i> Sales
                                </a>
                            </h3>

                        </li>
                        <li class="xf-list-item">
                            <h3>
                                <a href="/Invoices">
                                     <i class="fa fa-list-ol" aria-hidden="true"></i> Invoices
                                </a>
                            </h3>

                        </li>
                        <li class="xf-list-item">
                            <h3>
                                <a href="/Purchases/List">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i> Orders
                                </a>
                            </h3>
                        </li>
                        <li class="xf-list-item">
                            <h3>
                                <a href="/Sales/Quotation">
                                    <i class="fa fa-money" aria-hidden="true"></i> Estimates
                                </a>
                            </h3>
                        </li>
                        <li class="xf-list-item">
                            <h3>
                                <a href="/Clients/Index">
                                    <i class="fa fa-address-book-o" aria-hidden="true"></i> Clients
                                </a>
                            </h3>
                        </li>
                        <li class="xf-list-item">
                            <h3>
                                <a href="/Providers/Index">
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i> Providers
                                </a>
                            </h3>
                        </li>
                        
                    </ul>
                }
            </div>
            <div class="col-md-8 xf-main-container">
                @RenderBody()
            </div>
            @if (Request.IsAuthenticated) { 
                <div class="col-md-2">
                    <br />
                    <div>
                        @Html.Action("Edition", "Notes")
                    </div>
                    <hr />
                    <div>
                        <h5><strong>Application Info</strong></h5>
                        <div id="info"></div>
                    </div>
                </div>
            }
        </div>
        
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Ximena's Furniture</p>
    </footer>

    @Html.Partial("~/Views/Templates/Info.cshtml")
    @Html.Partial("~/Views/Templates/Alert.cshtml")
    @Html.Partial("~/Views/Templates/Confirm.cshtml")
    @Html.Partial("~/Views/Templates/Note.cshtml")


    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/Scripts/main.js")
    @if (Request.IsAuthenticated)
    {
        @Scripts.Render("~/Scripts/jquery.signalR-2.2.1.min.js")
        @Scripts.Render("~/signalr/js")
        @Scripts.Render("~/Scripts/Notes/notes.js")
    }
    @RenderSection("templates", required: false)
    @RenderSection("scripts", required: false)
    
</body>
</html>
