@model XF.Models.SalesViewModel
<br />
<h1>Sales</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <label>Client</label>
        <select class="form-control" id="cmbClient">
            @foreach (var item in Model.Clients)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        <label>Payment Type</label>
        <select class="form-control" id="cmbPaymentType">
            @foreach (var item in Model.PaymentTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>        
    </div>
    <div class="col-md-4">
        <label>Date</label>
        <input type="date" id="txtDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped" id="invoiceTable">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>                
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="text-right">
                            <a href="javascript:;" class="btn btn-primary lnk-addnew">Add new Item</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Subtotal</td>
                    <td>
                        <label id="lblSubtotal" data-value="0.0">0.00</label>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Tax</td>
                    <td>
                        <label id="lblTax" data-value="@Model.Tax">@string.Format("{0:p}",Model.Tax)</label>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Discount</td>
                    <td>
                        <input class="form-control" id="txtDiscount" type="number" min="0.0" value="0.0" step="0.5" pattern="0.00" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>TOTAL</td>
                    <td>
                        <label id="lblTotal" data-value="0.0">$0.00</label>
                    </td>
                    <td></td>
                </tr>

            </tfoot>
        </table>
        <div class="text-right">
            <input type="button" value="Save" id="btnSaveInvoice" class="btn btn-primary" />
            <input type="button" value="Cancel" id="btnCancelInvoice" class="btn btn-default" />
        </div>
    </div>
</div>
<br />
<script type="text/html" id="newItemTemplate">
    <tr class="item item-#=data.index#">
        <td>
            <select class="form-control cmb-product">
                @foreach (var item in Model.Products)
                {
                    <option value="@item.Id" data-price="@item.SellPrice">@item.Name [@item.Code]</option>
                }
            </select>
        </td>
        <td>
            <input type="number" min="1" value="1" class="form-control txt-quantity"/>
        </td>
        <td>
            <label class="lbl-price" data-value="0.0"></label>
        </td>
        <td>
            <label class="lbl-total" data-value="0.0"></label>
        </td>
        <td>
            <a href="javascript:XF.removeItem(#=data.index#)">Remove</a>
        </td>
    </tr>       

</script>

@section scripts{
    @Scripts.Render("~/Scripts/Sales/SalesPoint.js")    
}
