@model XF.Models.SalesModel
<h2>Sales</h2>
<hr />


<div class="row">
    <div class="col-md-6">
        <label>Client</label>
        <select class="form-control" id="cmbClient">
            @foreach (var item in Model.Clients)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="col-md-6">
        <label>Date</label>
        <input type="date" id="txtDate" class="form-control" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            <a href="javascript:;" class="btn btn-primary lnk-addnew">Add new Item</a>
        </div>
        <table class="table table-striped" id="invoiceTable">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>                
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Subtotal</td>
                    <td>
                        <label id="lblSubtotal">0.00</label>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Tax</td>
                    <td>
                        <label id="lblTax">0.075</label>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Discount</td>
                    <td>
                        <input class="form-control" id="txtDiscount" type="number" min="0.0" value="0.0" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>TOTAL</td>
                    <td>523.55</td>
                    <td></td>
                </tr>

            </tfoot>
        </table>
        <div class="text-right">
            <a href="javascript:;" class="btn btn-primary lnk-addnew">Add new Item</a>
        </div>

    </div>
</div>

<script type="text/html" id="newItemTemplate">
    <tr class="item item-#=data.index#">
        <td>
            <select class="form-control cmb-product">
                @foreach (var item in Model.Products)
                {
                    <option value="@item.Id" data-price="@item.SellPrice">@item.Name [@item.Code]</option>
                }
            </select>
        </td>
        <td>
            <input type="number" min="1" value="1" class="form-control txt-quantity"/>
        </td>
        <td>
            <label class="lbl-price"></label>
        </td>
        <td>
            <label class="lbl-total"></label>
        </td>
        <td>
            <a href="javascript:XF.removeItem(#=data.index#)">Remove</a>
        </td>
    </tr>       

</script>

@section scripts{
    @Scripts.Render("~/Scripts/Sales/SalesPoint.js")    
}
