@model XF.Entities.Invoice
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/modernizr")

    <title>@Model.Id</title>
</head>
<body>
    <div> 



    </div>
</body>
</html>
