@model XF.Models.InvoiceBalanceModel
@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
<table style="width:100%">
    <tr>
        <td style="vertical-align:top">
            <img src="~/Content/Images/Ximenas_transparent.png" width="233" style="border:none;" />
        </td>
        <td>
            <div>
                <h4>
                    <small>
                        <em>
                            PO BOX 2647<br />
                            Lindale Tx. 75771<br />
                            Phone: (903)6306292<br />
                            Email: ximenasfur201@gmial.com<br />
                            Facebook: ximenasfurniture-muebleria<br />
                            Web: www.ximenasfurniture-muebleria.com<br />
                        </em>
                    </small>
                </h4>
            </div>
        </td>
        <td style="vertical-align:top">
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">@(Model.Invoice.InvoiceStatusId == 1 ? "Estimate": "Invoice")  #</th>
                </tr>
                <tr>
                    <td class="text-center">@Model.Invoice.Created.ToString("MM/dd/yyyy")</td>
                    <td class="text-center">@Model.Invoice.Id</td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<table class="table table-striped table-bordered">
    <tr>
        <th class="text-center">Bill To</th>
        <th class="text-center">
            @if (Model.Invoice.IsDelivery)
            {
                <span>Ship To</span>
                <span style="float:right;">
                    @Model.Invoice.Date.ToString("MM/dd/yyyy")
                </span>
            }
            else
            {
                <span>Pick It Up</span>
            }
        </th>
    </tr>
    <tr>
        <td>
            <em>
                @Model.Invoice.Client.FullName<br />
                @Model.Invoice.Client.Address<br />
                @Model.Invoice.Client.Phone<br />
                @Model.Invoice.Client.Email
            </em>

        </td>
        <td class="text-center">
            @if (Model.Invoice.IsDelivery)
            {
                @Model.Invoice.Address
            }
            else
            {
                <br />
                <strong>
                    @Model.Invoice.Date.ToString("MM/dd/yyyy")
                </strong>
            }
        </td>
    </tr>
</table>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">Description</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Rate</th>
            <th class="text-center">Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model.Invoice.InvoiceDetails)
        {
            <tr>
                <td>
                    @detail.Product.Name
                </td>
                <td class="text-right">
                    @detail.Quantity
                </td>
                <td class="text-right">
                    @(string.Format("{0:c}", detail.UnitPrice))
                </td>
                <td class="text-right">
                    @(string.Format("{0:c}", detail.Quantity * detail.UnitPrice))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" rowspan="5">
                Delivered Date
                <hr />
                Signature
                <hr />
                SIGNATURE CONFIRMS GOOD  RECEIVE AND ORDER IS ACCURATE.
                <br />
                No money can be refunded back only as store credit.
                If Ximena's Furniture finances furniture and customer  does not finish paying
                <br />
                the full amount, we have the rigth to reposses the furniture.
                <br /><br />
                <strong>X</strong> 
                <strong style="float:right; width:200px;">
                    Date
                </strong>
                <hr />
            </td>
            <td class="text-right"><strong>Subtotal</strong></td>
            <td class="text-right">@string.Format("{0:c}",Model.Invoice.Subtotal)</td>
        </tr>
        <tr>
            <td class="text-right"><strong>Tax</strong></td>
            <td class="text-right">@string.Format("{0:p}", Model.Invoice.Tax)</td>
        </tr>
        <tr>
            <td class="text-right"><strong>Total</strong></td>
            <td class="text-right">@string.Format("{0:c}", Model.Invoice.Total)</td>
        </tr>
        <tr>
            <td class="text-right"><strong>Payments/Credits</strong></td>
            <td class="text-right">@string.Format("{0:c}", Model.Invoice.Payments.Count() == 0 ? new decimal(0.0) : Model.Invoice.Payments.Sum(p => p.Amount))</td>
        </tr>
        <tr>
            <td class="text-right"><strong>Balance Due</strong></td>
            <td class="text-right">@string.Format("{0:c}",Model.Balance)</td>            
        </tr>
    </tfoot>
</table>

