@model XF.Models.InvoiceBalanceModel
@{
    var maxRows = 9;
    var rowsCount = Model.Invoice.InvoiceDetails.Count();
    var rowsNumber = rowsCount > maxRows ? 0 : maxRows - rowsCount;
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
<table style="width:100%">
    <tr>
        <td style="vertical-align:top">
            <img src="~/Content/Images/Ximenas_transparent.png" width="233" style="border:none;" />
        </td>
        <td>
            <div>
                <h4>
                    <small>
                        <em>
                            PO BOX 2647<br />
                            Lindale Tx. 75771<br />
                            Phone: (903)6306292<br />
                            Email: ximenasfur2015@gmail.com<br />
                            Facebook: ximenasfurniture-muebleria<br />
                        </em>
                    </small>
                </h4>
            </div>
        </td>
        <td style="vertical-align:top">
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">@(Model.Invoice.InvoiceStatusId == 1 ? "Estimate" : "Invoice")  #</th>
                </tr>
                <tr>
                    <td class="text-center">@Model.Invoice.Created.ToString("MM/dd/yyyy")</td>
                    <td class="text-center">@Model.Invoice.Id</td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<table class="table table-striped table-bordered">
    <tr>
        <th class="text-center">Bill To</th>
        <th class="text-center">
            @if (Model.Invoice.IsDelivery)
            {
                <span>Ship To</span>
                <span style="float:right;">
                    @Model.Invoice.Date.ToString("MM/dd/yyyy")
                </span>
            }
            else
            {
                <span>Pick Up</span>
            }
        </th>
    </tr>
    <tr>
        <td>
            <em>
                @Model.Invoice.Client.FullName<br />
                @Model.Invoice.Client.Address<br />
                @Model.Invoice.Client.Phone<br />
                @Model.Invoice.Client.Email
            </em>

        </td>
        <td class="text-center">
            @if (Model.Invoice.IsDelivery)
            {
                @Model.Invoice.Address
            }
            else
            {
                <br />
                <strong>
                    @Model.Invoice.Date.ToString("MM/dd/yyyy")
                </strong>
            }
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background-color:white;">
            <strong>CREDIT TYPE:</strong>
            <span>@Model.Invoice.PaymentType.Name</span>
        </td>
    </tr>
</table>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">Provider</th>
            <th class="text-center">Description</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Rate</th>
            <th class="text-center">Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model.Invoice.InvoiceDetails)
        {
            <tr>
                <td>
                    @detail.Product.Provider.BusinessName
                </td>
                <td>
                    @detail.Product.NameCode
                    &nbsp;&nbsp;&nbsp;
                    <small>@(string.IsNullOrWhiteSpace(detail.Note) ? string.Empty : string.Format("({0})", detail.Note))</small>
                </td>
                <td class="text-right">
                    @detail.Quantity
                </td>
                <td class="text-right">
                    @(string.Format("{0:c}", detail.UnitPrice))
                </td>
                <td class="text-right">
                    @(string.Format("{0:c}", detail.Quantity * detail.UnitPrice))
                </td>
            </tr>
        }
        @for (int i = 0; i < rowsNumber; i++)
        {
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" rowspan="9">
                @if (Model.Invoice.IsDelivery)
                {
                    <span>Delivered Date</span>
                }
                else
                {
                    <span>Pick Up Date</span>
                }
                <hr />
                Signature
                <hr />
                SIGNATURE CONFIRM IS ACCURATE.
                <br />
                TERMS AND CONDITION
                <br />
                No returns will be accepted. If product is damage upon arrival it can be replaced.
                Thank you for Choosing Ximena's Furniture/Muebleria
                <br />
                <br /><br />
                <strong>X_______________________________</strong>
                <strong style="float:right; width:200px;">
                    Date_______________
                </strong>
                <hr />
            </td>
            <td class="text-right"><strong>Subtotal</strong></td>
            <td class="text-right">@string.Format("{0:c}", Model.Invoice.Subtotal)</td>
        </tr>
        <tr>
            <td class="text-right"><strong>Discount</strong></td>
            <td class="text-right">@string.Format("{0:c}", Model.Invoice.Discount)</td>
        </tr>
        <tr>
            <td class="text-right"><strong>Tax</strong></td>
            <td class="text-right">@string.Format("{0:c}", Model.Invoice.Tax*Model.Invoice.Subtotal)</td>
        </tr>
        @if ((Model.Invoice.SNAP ?? 0) > 0)
        {
            <tr>
                <td class="text-right"><strong>SNAP</strong></td>
                <td class="text-right">@string.Format("{0:c}", Model.Invoice.SNAP)</td>
            </tr>
        }
        @if ((Model.Invoice.DeliveryFee ?? 0) > 0)
        {

            <tr>
                <td class="text-right"><strong>Delivery Fee</strong></td>
                <td class="text-right">@string.Format("{0:c}", Model.Invoice.DeliveryFee)</td>
            </tr>
        }
        @if ((Model.Invoice.InstalationFee ?? 0) > 0)
        {

            <tr>
                <td class="text-right"><strong>Instalation Fee</strong></td>
                <td class="text-right">@string.Format("{0:c}", Model.Invoice.InstalationFee)</td>
            </tr>
        }
        <tr>
            <td class="text-right"><strong>Total</strong></td>
            <td class="text-right">@string.Format("{0:c}", Model.Invoice.Total)</td>
        </tr>
        @foreach (var payments in Model.Invoice.Payments.GroupBy(p => p.PaymentOptionId))
        {
            <tr>
                <td class="text-right"><strong>@payments.First().PaymentOption.Name</strong></td>
                <td class="text-right">@string.Format("{0:c}", payments.Sum(p => p.Amount))</td>
            </tr>
        }
        <tr>
            <td class="text-right"><strong>Balance Due</strong></td>
            <td class="text-right">@string.Format("{0:c}", Model.Balance)</td>
        </tr>
    </tfoot>
</table>
