@model IEnumerable<XF.Entities.Provider>

@{
    ViewBag.Title = "Providers";
}

<div class="row">
    <div class="col-md-6">
        <h2>Providers</h2>
    </div>
    <div class="col-md-6">
        <h2 class="text-right">
            <a href="/Providers/Create" class="btn btn-primary">Add Provider</a>
        </h2>
    </div>
</div>

<hr />
<table class="table table-bordered table-striped">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Middle Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
